/*Containers*/

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    animation: fadeIn 2s forwards;
    padding: 70px 15%;
    box-sizing: border-box;
    min-height: calc(100vh - 60px);
}

.formContainer {
    display: flex;
    background-color: #ffffff;
    box-shadow: 0 12px 5px -12px rgba(0, 0, 0, 0.1);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
    padding-bottom: 25px;
    border-radius: 5px;
    flex-wrap: wrap;
}

/*Margin & padding*/

.marginXSmall {
    margin: 0 3px;
}

.marginXRegular {
    margin: 0 10px;
}

.marginYSmall {
    margin: 3px 0;
}

.marginYRegular {
    margin: 10px 0;
}

.marginYTitle {
    margin-bottom: 40px;
}

.marginYSubtitle {
    margin-bottom: 25px;
}

.marginXBtn {
    margin-right: 8px;
}

.marginYBtn {
    margin-bottom: 40px;
}

.marginYBox {
    margin-top: 40px;
    margin-bottom: 40px;
}

/*FLEXBOX*/

.flex {
    display: flex;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.centerCenter {
    justify-content: center;
    align-items: center;
}

.startCenter {
    justify-content: center;
    align-items: center;
}

.selfEnd {
    align-self: flex-end;
}

/******STYLES******/

/**FORMS**/
.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 20px;
}

.inputContainer.sm{
    margin: 0;
}

.inputContainer.lg{
    margin: 5px 0 40px 0;
}

.label {
    align-self: flex-start;
    width: auto;
    font-weight: 600;
    font-size: 12px;
    padding: 5px;
    text-align: center;
    margin-left: 10px;
    transform: translateY(12px);
    background-color: #fff9;
    z-index: 2;
}

.input {
    width: 300px;
    border-radius: 5px;
    padding: 10px 15px;
    padding-top: 15px;
    margin-bottom: 0px;
    display: flex;
    background-color: #fff;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
    resize: none;
    border: solid 1px #e7e5e5;
}

.input:focus-visible {
    outline: #55DF91 auto 1px;
}

.input.sm{
    width: 200px;
    text-align: center;
}

/**TEXT**/

.title {
    color: #261240;
    font-size: 25px;
}

.title2 {
    color: #261240;
    font-size: 20px;
    font-weight: 600;
}

.subtitle {
    color: #515151;
    font-size: 16px;
    font-weight: 400;
}



/*COLORS*/

.purpleBg {
    background-color: #843EDF;
}

.purpleText {
    color: #843EDF;
}

.grayText {
    color: #514F4F;
}

.orangeText {
    color: #FF9747;
}


/*BUTTONS*/

.btnsContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.btn {
    font-size: 16px;
    border-radius: 35px;
    font-weight: 500;
    border: solid 2px;
    cursor: pointer;
    min-width: 150px;
    padding: 3px 30px;
    text-decoration: none;
    transition: all 50ms ease-in-out;
}

.btn.xl {
    padding: 3px 40px;
}

.btnNoBg {
    color: #55DF91;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    transition: all 50ms ease-in-out;
}

.btnNoBg.forInput{
    padding: 25px 0 0 25px;
}

.plus {
    margin: 0 5px;
}

.btnNoBg:hover {
    color: #47FF97;
}

.btnPurple{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #391B60;
    border-color: #391B60;
    box-shadow: 0 12px 5px -12px rgba(0, 0, 0, 0.1);
}

.btnPurple:hover{
    background-color: #843EDF;
    border-color: #843EDF;
}

.btnWhite {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #391B60;
    background-color: #fff;
    border-color: #fff;
    box-shadow: 0 12px 5px -12px rgba(0, 0, 0, 0.1);
}

.btnWhite.active {
    color: #fff;
    background-color: #391B60;
    border-color: #391B60;
    box-shadow: 0 12px 5px -12px rgba(0, 0, 0, 0.1);
}

.btnWhite:hover {
    color: #fff;
    background-color: #843EDF;
    border-color: #843EDF;
}

.btnOrange {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #FF9747;
    border-color: #FF9747;
}

/*TABLES*/

.table {
    position: relative;
    border-collapse: collapse;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    border-spacing: 0;
    width: 100%;
    box-shadow: 0 12px 5px -12px rgba(0, 0, 0, 0.1);
}

.table th {
    background-color: #391B60;
    color: #fff;
}

.table td {
    color: #514F4F;
}

.tr{
    border: 1px solid #e7e5e5;
}

.table th,
.table td {
    padding: 10px 0 10px 25px;
    text-align: start;
    margin: 0;
    font-size: 12px;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}